@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1b1c1e;
}

@layer utilities {
  .underline-hover {
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
  }

  .underline-hover::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #3274f7;
    transition: width 0.25s ease-out;
  }

  .underline-hover:hover::before {
    width: 100%;
    left: 0;
    right: auto;
  }
}

.gradient-1 {
    background: rgb(136, 136, 136);
    background: radial-gradient(
      circle,
      rgba(136, 136, 136, 1) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(98, 98, 98, 1) 100%
    );
  }
